<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleaboutus.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="heading">About Us:</h1>
        <p class="about"> This web Page is a well blend of Machine Learing <br>
        which gives you the predicted value of insurance premium of two companies<br>
    and the dashboard for the data analytics purpose.</p>
    </div>
    <div class="row">
        <div class="column">
          <div class="card">
            <!--
            <img src="..\images\rupesh.jpeg" style="width:69%"> -->
            <image src="{{url_for('static',filename = 'images/rupesh.jpeg')}}" style="width:90%"></image>
            <div class="container1">
              <h2>Rupesh Kumar Chatri</h2>
              <p class="title">ML Modeling and dashboard</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <!--
            <img src="../images/Snapchat.jpeg" style="width:55%">-->
            <image src="{{url_for('static',filename = 'images/Snapchat.jpg')}}" style="width:69%"></image>
            <div class="container1">
              <h2>Shruti Patnaik</h2>
              <p class="title">ML Modeling and web page</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <!--
            <img src="..\images\Moin.jpeg"  style="width:56%">-->
            <image src="{{url_for('static',filename = 'images/Moin.jpeg')}}" style="width:69%"></image>
            <div class="container1">
              <h2>Mohammad Moin</h2>
              <p class="title">Power bi dashboard</p>
            </div>
          </div>
</body>
</html>