<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styleaboutus.css">
</head>
<body>
    <div class="container">
        <h1 class="heading">About Us:</h1>
        <p class="about"> This web Page is a well blend of Machine Learing <br>
        which gives you the predicted value of insurance premium of two companies<br>
    and the dashboard for the data analytics purpose.</p>
    </div>
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="H:\projects\Medical-Premium-Cost-Prediction\premium-cost-health-insurance-deploy-in-web-using-flask-ML\images\rupesh.jpeg" style="width:69%">
            <div class="container1">
              <h2>Rupesh Kumar Chatri</h2>
              <p class="title">ML Modeling and dashboard</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="H:\projects\Medical-Premium-Cost-Prediction\premium-cost-health-insurance-deploy-in-web-using-flask-ML\images\Snapchat.jpg" style="width:55%">
            <div class="container1">
              <h2>Shruti Patnaik</h2>
              <p class="title">ML Modeling and web page</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="H:\projects\Medical-Premium-Cost-Prediction\premium-cost-health-insurance-deploy-in-web-using-flask-ML\images\Moin.jpeg"  style="width:56%">
            <div class="container1">
              <h2>Mohammad Moin</h2>
              <p class="title">Presentator</p>
            </div>
          </div>
</body>
</html>