<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
</head>

<body>

     <!-- Main Input For Receiving Query to our ML -->
      <form action="/predict"method="POST">
        <center>
      <b><label>Age:</label></b>
    	<input type="text" name="age" placeholder="enter your age" required="required" />
      <br><br>
      <b><label>Gender:</label></b>
      <select name="sex" id="sex">
        <option value="1">Male</option>
        <option value="0">Female</option>
      </select>
      <br><br>
      <b><label>BMI:</label></b>
      <input type="text" name="bmi" placeholder="enter your bmi" required="required" />
      <br><br>
      <b><label>Number Of Children:</label></b>
		  <input type="text" name="children" placeholder="enter your children" required="required" />
      <br><br>
      <b><label>Smoking Habit:</label></b>
		  <select name="smoker" id="smoker">
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>
      <br><br>
      <b><label>Region:</label></b>
      <select name="region" id="region">
        <option value="0">Southeast</option>
        <option value="1">Southwest</option>
        <option value="2">Northeast</option>
        <option value="3">Northwest</option>



        
      </select>
      <br><br>


      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      <br><br>

      <h3>Company1:</h3> {{ result }}
      <h3>Company2:</h3> {{result1}}
    </center></form>

   <br>
   <br>
    </div>
  </div>


</body>
</html>